<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

*   Extract information from a given web site
*   Write the scraped data into a csv file.

## Extract information from the given web site

You will extract the data from the below web site: <br>

In [56]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [57]:
# Your code here
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page
import pandas as pd
import numpy as np

Download the webpage at the url

In [58]:
#your code goes here
data  = requests.get(url).text

Create a soup object

In [59]:
#your code goes here
soup = BeautifulSoup(data,"html.parser")

Scrape the `Language name` and `annual average salary`.

In [60]:
#your code goes here
#create pandas dataframe
df = pd.DataFrame(columns=['Language Name', 'Average Salary'])

#loop through the table
for row in soup.find("tbody").find_all("tr"):
  col = row.find_all("td")
  language = col[1].text
  salary = col[3].text

#append the dataframe
  df = df.append({'Language Name' : language, 'Average Salary' : salary}, ignore_index=True)

#drop first row
df.drop(index=df.index[0], axis=0, inplace=True)

print(df)

   Language Name Average Salary
1         Python       $114,383
2           Java       $101,013
3              R        $92,037
4     Javascript       $110,981
5          Swift       $130,801
6            C++       $113,865
7             C#        $88,726
8            PHP        $84,727
9            SQL        $84,793
10            Go        $94,082

Save the scrapped data into a file named *popular-languages.csv*

In [61]:
#your code goes here

#save as csv
df.to_csv("popular-languages.csv")
df

   Language Name Average Salary
1         Python       $114,383
2           Java       $101,013
3              R        $92,037
4     Javascript       $110,981
5          Swift       $130,801
6            C++       $113,865
7             C#        $88,726
8            PHP        $84,727
9            SQL        $84,793
10            Go        $94,082

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01).